/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #64b5f6   !important;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #64b5f6   !important;
     box-shadow: 0 1px 0 0 #64b5f6   !important;
   }